<div class="">
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">{{main.currentUser().name}}</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav navbar-right">
          <!--<li class="active"><a href="#/">Home</a></li>-->
          <li ng-if="main.isAdmin()"><a ui-sref="main.add-hospital" ng-click="main.fnCheckStatus($event.toElement)">Add Hospital</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="main.doctors" ng-click="main.fnCheckStatus($event.toElement)">Doctor</a></li>
          <li ng-if="main.isLoggedIn()" class="active"><a ui-sref="main.patient-data" ng-click="main.fnCheckStatus($event.toElement)">Patient</a></li>
          <li ng-if="main.isLoggedIn()"><a ui-sref="main.new-birth" ng-click="main.fnCheckStatus($event.toElement)">New Birth</a></li>
          <li ng-if="main.isAdmin()"><a ui-sref="main.form-f" ng-click="main.fnCheckStatus($event.toElement)">Form F</a></li>
          <li ng-if="main.isLoggedIn() && !main.isAdmin()"><a ui-sref="main.hospital-profile" ng-click="main.fnCheckStatus($event.toElement)">Profile</a></li>
          <li ng-if="main.isAdmin()"><a ui-sref="main.update-location" ng-click="main.fnCheckStatus($event.toElement)">Update Location</a></li>

          <li ng-if="main.isLoggedIn()"><a ng-click="main.fnLogout();">Logout</a></li>
          <!--<li><a ng-href="#/">Contact</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>

<ui-view> </ui-view>

<div class="footer">
  <div class="container">
    <p><span style="color: navy" class="fa fa-lg fa-heart"></span> From Dedicated Developers</p>
  </div>
</div>

</div>
