<div>
  <div class="panel panel-default login-panel">
    <div class="panel-heading text-center" style="background-color: #7986bc; color: white "><h4>New Birth Registration</h4></div>
    <form name="loginForm">
      <div class="panel-body">
        <div class=" m-b-10 text-center">
          <input type="radio" name="regType" value="Live Birth" ng-model="birthReg.newBirth.birth_type"> <span class="m-l-10">Live Birth</span>
          <input type="radio" name="regType" value="missed/mtp" ng-model="birthReg.newBirth.birth_type" class="m-l-10"> <span class="m-l-10">Missed / MTP</span>
        </div>

        <div class="input-group m-b-10">
          <span class="input-group-addon theme-accent"><i class="fa fa-lg fa-user"> </i></span>
          <input type="text" class="form-control" ng-model="birthReg.newBirth.p_id" placeholder="Patient ID"
                 style="margin: auto">
        </div>
        <div class="input-group m-b-10">
          <span class="input-group-addon theme-accent"><i class="fa fa-lg fa-credit-card"> </i></span>
          <input type="date" class="form-control" ng-model="birthReg.newBirth.date" placeholder="Birth Date"
                 style="margin: auto">
        </div>
        <div class="input-group m-b-10">
          <span class="input-group-addon theme-accent"><i class="fa fa-lg fa-book"> </i></span>
          <input type="time" class="form-control" ng-model="birthReg.newBirth.time" placeholder="Birth Time"
                 style="margin: auto">
        </div>
        <div class="input-group m-b-10">
          <span class="input-group-addon theme-accent"><i class="fa fa-lg fa-venus-mars"> </i></span>
          <select class="form-control" ng-model="birthReg.newBirth.gender">
            <option value="">Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <!--<input type="text" class="form-control" ng-model="login.user.hospitalState" placeholder="Hospital State"-->
                 <!--style="margin: auto">-->
        </div>
        <div class="input-group m-b-10">
          <span class="input-group-addon theme-accent"><i class="fa fa-lg fa-plus"> </i></span>
          <!--<input type="text" class="form-control" ng-model="login.user.hospitalCity" placeholder="Hospital City"-->
                 <!--style="margin: auto">-->
          <select class="form-control" ng-model="birthReg.newBirth.mode_of_delivery">
            <option value="">Mode Of Delivery</option>
            <option value="natural">Natural</option>
            <option value="scissor">LSCS</option>
            <option value="vacuum">Vacuum</option>
            <option value="mtp">MTP</option>
            <option value="d&c">D&C</option>
            <option value="d&e">D&E</option>
          </select>
        </div>



        <div class="input-group m-b-10">
          <span class="input-group-addon theme-accent"><i class="fa fa-lg fa-phone"></i></span>
          <input type="text" class="form-control" ng-model="birthReg.newBirth.weight" ng-blur="birthReg.changeWeightFormat()" placeholder="Weight 00.00">
        </div>

        <div class="input-group m-b-10">
          <span class="input-group-addon theme-accent"><i class="fa fa-lg fa-hospital-o"></i></span>
          <select class="form-control">
            <option>Diseases</option>
          </select>
        </div>

        <div class="input-group m-b-10">
          <span class="input-group-addon theme-accent"><i class="fa fa-lg fa-pencil-square-o"></i></span>
          <input type="text" class="form-control" ng-model="birthReg.newBirth.complication_note" placeholder="Complication / Note">
        </div>
        <div style="float: right">
          <button class="btn btn-primary" ng-click="birthReg.fnSave()">Add</button>
          <button class="btn btn-default" >Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
