<div >
  <h1 class="text-center"> Update Location </h1>
  <div class="container jumbotron">
    <select class="input-sm"
            ng-model="updateLocation.selectedOption">
        <option  value="state">Add State </option>
        <option  value="city">Add City </option>
        <option  value="district">Add District </option>
    </select>
    <button class="btn-sm btn-primary"> Go </button>

    <div style="margin-top: 15px">
      <select class="input-sm"
              ng-if="updateLocation.selectedOption == 'district' || updateLocation.selectedOption == 'city'"
              ng-model="updateLocation.selectState">
        <option value="" selected> Select State</option>
        <option value="gujarat"> Gujarat </option>
      </select>

      <select class="input-sm"
              ng-if="updateLocation.selectedOption == 'district'"
              ng-model="updateLocation.selectCity">
        <option value="" selected> Select City</option>
        <option value="city"> City </option>
      </select>

      <input type="text" ng-model="updateLocation.locationValue"
             class="input-sm" ng-if="updateLocation.selectedOption"
             placeholder="Insert value for {{updateLocation.selectedOption}}">

      <input type="text" ng-model="updateLocation.locationCode"
             class="input-sm" ng-if="updateLocation.selectedOption && updateLocation.selectedOption !== 'district'"
             placeholder="Insert RTO code  for {{updateLocation.selectedOption}}">

      <button ng-if="updateLocation.selectedOption"
              ng-click="updateLocation.fnUpdateLocation(updateLocation.selectedOption)"
              class="btn-sm btn-primary"> Submit </button>

    </div>

  </div>
</div>
